{% extends 'base.html.twig' %}

{% block title %}Datos de trabajador{% endblock %}

{% block bootstrap %}
<!-- CSS Bootstrap 5 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<!-- FontAwesome 6.2.0 icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
{% endblock %}

{% block trabajadores_css %}
<!-- Archivo CSS en Symfony desde carpeta public -->
<link rel="stylesheet" href="{{ asset('css/trabajadores.css') }}">
{% endblock %}


{% block datos_trabajador %}

<div class="example-wrapper rounded mt-xs-2 mt-lg-5 mt-md-5 p-xs-2 p-lg-5 p-md-5
    pb-xs-2 pb-lg-3 pb-md-3 container-background justify-content-start">
	<h2 class="text-center text-light pt-xs-2 pt-lg-4 pt-md-4" style="font-family: helvetica;">
        {{ titulo_datos }}
    </h2>

    <div class="container-fluid mt-xs-3 mt-lg-5 mt-md-5 text-white">
        <!-- Lista de los datos del trabajador -->
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true">Datos personales</li>
            <li class="list-group-item"><strong>Nombre:</strong> <span>{{ trabajador.nombre }}</span></li>
            <li class="list-group-item"><strong>Apellidos:</strong> <span>{{ trabajador.apellidos }}</span></li>
            <li class="list-group-item"><strong>Email:</strong> <span>{{ trabajador.email }}</span></li>
        </ul>

        <div class="mt-xs-1 mt-lg-5 mt-md-5">
            <a href="{{ path('trabajadores') }}" class="btn btn-secondary text-white">
                <span class="fas fa-solid fa-arrow-left"></span>
                <span>Volver a la lista</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}